// 全站設定
img{
	max-width: 100%;
	height: auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul,ol{
	padding-left: 0;
	list-style: none;
	margin: 0;
}
a {
	text-decoration: none;
	&:hover {
	text-decoration: none;
	}
}
p{
	margin: 0;
}
