.footerBanner{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: center center;
    .emailInput{
        background-color: transparent;
    }
    @include media-breakpoint-up(md){
        padding-top: 84px !important;
        padding-bottom: 84px !important;
        }
}

