
    .production-img-s{
        @include media-breakpoint-up(md){
        height: 240px;
        }
    }
    .production-img-m{
        @include media-breakpoint-up(md){
        height: 350px;
        }
    }
    .production-img-l{
        @include media-breakpoint-up(md){
        height: 480px;
        }
    }

.card-columns{
    img{
        object-fit: cover;
    }
}
