<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>

<body>
    <header class="position-relative header">
        <div class="container py-3">
            <div class="row align-items-center">
                <!-- logo -->
                <div class="col col-md-6 text-left">
                    <a class="fontFamily-Raleway font-size24 p-0 text-white text-md-black"
                        href="index.html">Craftsman</a>
                </div>
            </div>
        </div>
    </header>
    <%- contents %>

    <script src=" https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src=" ./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>