// 完成結帳頁面
.done{
    margin-top: -72px;
    height: 100vh;
    @include media-breakpoint-up(md){
        height: 800px;
    }
    .text{
        color: $white;
        text-align: center;
        height: 100%;
        @include media-breakpoint-up(md){
        text-align: left;
        height: auto;
        color: $black;
        }
    }
    .well{
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        @include media-breakpoint-up(md){
            position: relative;
            transform: translateY(0);
            top:0;
        }
    }
    .content{
        p{
        @include media-breakpoint-up(md){
        color: $graylight !important;
        }
        }
    }
    .bannerbg{
        background-image: url(../images/done.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        left: 0;
        right: 0;
        @include media-breakpoint-up(md){
            left: calc(50% + 15px);
        }
    }
}