@media only screen and (max-width: 768px) {
    .card-columns {
    column-count: 2 !important;
    }
    .card-columns .card img {
    height: 161px !important;
    object-fit: cover;
    }
}
.onSale{
    z-index: 1;
    top: 16px;
    right: 16px;
}