.productDetail{
    .onSale-icon{
        z-index: 1;
        top: 1.5rem;
        right:1.5rem;
        @include media-breakpoint-up(md){
            left:1.5rem;
        }
}
.productImg{
    z-index: -1;
}
.productContent{
    border-radius: 2px;
    transform: translateY(-30px);
    @include media-breakpoint-up(md){
        transform: translateX(calc(-12% - 30px));
    }
    .breadcrumb {
        a {
        line-height: $headings-line-height;
        }
    }
    .productName{
        line-height: 38px;
            font-size: 2rem;
        @include media-breakpoint-up(md){
            line-height: 57px;
        }
    }
    .original{
        line-height: $line-height-base;
    }
    .sale{
        line-height: 28px;
        @include media-breakpoint-up(md){
            line-height: $line-height-base;
        }
    }
    .productContent-price{
        @include media-breakpoint-up(md){
            width: 100%;
        }
    }
    .productContent-function > button{
        padding-top: 18px;
        padding-bottom: 18px;
        width: 100%;
        @include media-breakpoint-up(md){
            width: auto;
        }
    }
}
}
.Description{
    .Description-content{
        .text{
            font-size: $font-size-base;
        @include media-breakpoint-up(md){
            font-size: 20px;
        }
    }
        .list{
            font-size: 14px;
            @include media-breakpoint-up(md){
                font-size: $font-size-base;
            }
        }
    }
    }
.otherProduct{
    p{
        line-height: 38px;
    }
}

.modal.right {
    .modal-dialog{
    // position: fixed;
    // right:0;
    max-width: 540px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
    }
    .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    .modal-content {
        border-radius: 0;
        border: none;
    }
    
    .modal-header {
        border-bottom: none;
        @include media-breakpoint-up(md){
            margin-top: 54px;
            margin-bottom: 28px;
        }
    }
    .modal-title{
        @include media-breakpoint-up(md){
            font-size: $font-size-xl;
            line-height: 64px;
        }
    }
    .modal-footer{
    border-top:none;
    }
    .modalImg{
        width: 112px;
        img{
            height: 112px;
        }
    }
    .icon{
        @include media-breakpoint-up(md){
            font-size: $font-size-xl;
        }
    }
    .purchaseList{
        .price{
            .sale{
                line-height: 1.2;
            }
            .original{
                font-size: 14px;
            }
        }
    }
    .purchasePrice{
        @include media-breakpoint-up(md){
            padding-left: 112px;
        }
        .total{
            font-size: 24px;
        }
    }
    .purchaseBtn{
        .btn{
        padding-top: 18px;
        padding-bottom: 18px;
        width: 100%;
        @include media-breakpoint-up(md){
            margin-left: 112px;
        }
        }
    }
}


