.aside{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: $white;
    overflow: hidden;
    transform: translateX(-800px);
    transition: all 0.8s;
    z-index: 100;
  }
  /*增加 class open 觸發選單*/
.open .main{
    transform: translateX(270px);
  }
  .open .aside{   
    transform: translateX(0px);
  }

  .aside .menu li a{
    display: block;
  }
//   .aside .menu li a:hover{
//     background: blue;
//   }